{{#if genero}} <h1>Seja Bem Vinda {{ usuario.nome }}</h1>
<p>Email: {{ usuario.email }} | Data de Nascimento: {{ usuario.dtNascimento }}</p>
{{else}} <h1> Seja Bem Vindo {{ usuario.nome }}</h1>
<p>Email: {{ usuario.email }} | Data de Nascimento: {{ usuario.dtNascimento }}</p>
{{/if}}
<hr>


